body {
  position: absolute;
  width: 1080px;
  height: 1920px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow: hidden;
  background-image: url("../img/background.png"); }
  body h1 {
    font-weight: 300;
    margin: 43px 30px;
    font-size: 120px; }
    body h1 span {
      font-weight: 700 !important; }
  body h2 {
    font-size: 56px;
    font-weight: 400; }
  body .container {
    height: 1920px;
    width: 1080px;
    position: relative;
    margin: 0 auto;
    overflow: hidden; }
    body .container .intro {
      display: flex;
      background: #6300A7;
      justify-content: space-evenly;
      align-items: center; }
      body .container .intro img {
        height: 140px; }
    body .container .bier {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 1400px; }
      body .container .bier .item {
        color: #6300A7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative; }
        body .container .bier .item img {
          height: 75%; }
        body .container .bier .item .tekstwolk {
          position: relative;
          background: #6300A7;
          padding: 30px 50px;
          border-radius: 50px;
          margin: 50px 30px 70px; }
          body .container .bier .item .tekstwolk p {
            font-size: 90px;
            color: white;
            margin: 0;
            font-weight: 500; }
          body .container .bier .item .tekstwolk:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 65px solid transparent;
            border-top-color: #6300A7;
            border-bottom: 0;
            border-left: 0;
            margin-left: -2px;
            margin-bottom: -64px; }
        body .container .bier .item .likes {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 42%;
          left: -40px; }
          body .container .bier .item .likes p {
            font-size: 50px;
            color: #6300A7;
            position: absolute;
            width: 100%;
            text-align: center;
            margin: -5px 0 0;
            font-size: 70px;
            font-weight: 700; }
          body .container .bier .item .likes i {
            color: white;
            font-size: 220px; }
        body .container .bier .item.radler .tekstwolk {
          background: white; }
          body .container .bier .item.radler .tekstwolk:after {
            border-top-color: white; }
          body .container .bier .item.radler .tekstwolk p {
            color: #6300A7; }
        body .container .bier .item.tripel .likes {
          right: -40px;
          left: auto; }
          body .container .bier .item.tripel .likes p {
            color: white; }
          body .container .bier .item.tripel .likes i {
            color: #6300A7; }
    body .container .cta {
      display: flex;
      height: 205px;
      background: black;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      body .container .cta .stem p {
        margin: 0 0 15px;
        font-size: 70px; }
      body .container .cta .stem img {
        width: 280px; }
      body .container .cta .channel p {
        font-weight: 700;
        font-size: 140px;
        margin-left: 50px; }
    body .container .chatberichten {
      position: absolute;
      height: 80px;
      left: 0;
      bottom: 0;
      width: 100%;
      border-top: 10px solid #450074;
      background: #ffffff;
      overflow: hidden; }
      body .container .chatberichten .berichten-inner {
        padding: 0 30px; }
        body .container .chatberichten .berichten-inner p {
          color: #6300A7;
          font-size: 28px;
          display: inline-block;
          margin-right: 40px;
          margin-left: 40px; }
          body .container .chatberichten .berichten-inner p::before {
            content: '';
            background-image: url("../img/gh-logo.png");
            width: 37px;
            height: 53px;
            position: absolute;
            background-repeat: no-repeat;
            background-size: 80%;
            margin-left: -50px;
            top: 18px; }
